#v-menu{
    width: 200px;
    background-color: khaki;
}
#v-menu ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}
#v-menu ul li{ position: relative; width: 200px;}
#v-menu>ul>li>ul{
    /* Menu 1 cấp thì bỏ phần này */
    position: absolute; left: 100% ; top: 0%; 
    display: none;
}
#v-menu ul li a{
    display: block;
    padding:5px;
    border: 1px solid red;
    text-decoration: none;
    font-family: arial;
    
    background-color: yellowgreen;
    background-image: url('https://raw.githubusercontent.com/sonmobi/PT16353-MOB-WEB1013/master/bh9/menu/ic_arr.png');
    background-repeat: no-repeat;
    padding-left: 20px;
    background-size: 15px;
    background-position-y: 6px;
}
#v-menu ul li a:hover{
    background-color: yellow;
}
#v-menu ul li:hover>ul{
     /* Menu 1 cấp thì bỏ phần này */
    display: block;
}